# Building Management System Requirements
fastapi
sqlmodel
uvicorn
sqlalchemy
pydantic
python-jose
passlib
python-multipart
aiofiles
jinja2
python-dotenv
httpx

alembic

#  ------ Tests  -------

pytest
pytest-asyncio
pytest-cov
httpx
asgi-lifespan
coverage
