/* app/static/css/rtl.css */
body {
    direction: rtl;
    text-align: right;
    font-family: 'Iran Sans', 'Vazir', Arial, sans-serif;
}

.modal-header .btn-close {
    margin: -0.5rem auto -0.5rem -0.5rem;
}

.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.ms-2 {
    margin-right: 0.5rem !important;
    margin-left: 0 !important;
}

.me-2 {
    margin-left: 0.5rem !important;
    margin-right: 0 !important;
}

.float-end {
    float: left !important;
}

.float-start {
    float: right !important;
}

.text-start {
    text-align: right !important;
}

.text-end {
    text-align: left !important;
}