{}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Units</th>
                <th>Occupancy Rate</th>
                <th>Revenue</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {}
            <tr>
                <td>{{ building.name }}</td>
                <td>{{ building.address }}</td>
                <td>{{ building.units_count }}</td>
                <td>{{ building.occupancy_rate }}%</td>
